/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* common-style */
.container{
    max-width: 1440px;
    margin: auto;
}

/* Top-banner */
.Top-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D25A0;
}
.section-title{
    width: 485px;
    height: 230px;
    margin-left: 156px;
}
.section-title h1{
    color: #FFFFFF;
    letter-spacing: -4%;
    line-height: 1;
    font-size: 64px;
    line-height: 20px;
}
.section-title a{
    text-decoration: none;
    background-color: #E02C6D;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
}
.section-title a:hover{
    border: 4px orange dotted;
}
.fa-arrow-right{
    padding-left: 8px;
}
.section-image{
    width: 556px;
    height: 438px;
    padding-top: 153px;
    padding-bottom: 86px;
    padding-right: 140.99px;
}
.section-image img{
    width: 100%;
}
/* Top-banner-end */
.Top-players{
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-left: 100px;
}
.player{
    width: 330px;
    height: 456px;
    background-color: #FFFFFF;
    /* box-shadow: 2px 2px 2px 2px #888888; */
}
.player-image img{
   width: 100%;
}
.player-details{
    width: 300px;
    height: 154px;
}
.player-details p{
    color: #6C6C6C;
    line-height: 20px;
    margin-top: 10px;
}
.player-name{
  color:#18191F;
  font-weight: bold;
  font-size: 28px;
  line-height: 20px;
  margin-bottom: 10px;
  margin-top: 16px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 27px;
    margin-left: 180px;
    margin-top: 70px;
    margin-right: 210px;
    margin-left: 180px;
}