/* font-family */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}
/* common-style */
/* .container{
    max-width: 1440px;
    margin: auto;
} */


/* Top-banner */
.Top-banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D25A0;
}
.section-title{
    width: 485px;
    height: 230px;
    margin-left: 156px;
}
.section-title h1{
    color: #FFFFFF;
    letter-spacing: -4%;
    line-height: 1;
    font-size: 64px;
    line-height: 20px;
}
.section-title a{
    text-decoration: none;
    background-color: #E02C6D;
    padding-top: 10px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    font-style: normal;
    color: #FFFFFF;
}
/* hover */
.section-title a:hover{
    border: 4px orange dotted;
}
.section-image:hover{
    transform: rotate(30deg);
    transition: transform 3s ease-in-out;
}
/* hover end */

.fa-arrow-right{
    padding-left: 8px;
}
.section-image{
    width: 556px;
    height: 438px;
    padding-top: 153px;
    padding-bottom: 86px;
    padding-right: 140.99px;
}
.section-image img{
    width: 100%;
}
/* top-banner-end */

/* Top-players-start */
.Top-players{
    margin-top: 70px;
}
.frame{
    border: white 2px solid;
}
.players{ 
    margin-left: 180px;
    margin-right: 210px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 45px;
    grid-column-gap:30px ;
    justify-items: center;
}
.player{
    
    width: 330px;
    height: 474px;
}
.player img{
    width: 100%;
}
.player-details h1{
    color: #18191F;
    font-weight: bold;
    font-size: 28px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.player-details p{
    color: #6C6C6C;
    margin-top: 10px;
}
/* Top-players-end */

/* footer start */
.logo{
    width: 483px;
    height: 110px;
    margin-top: 158px;
    margin-left: 475px;
    margin-right: 481px;
    margin-bottom: 63px;
    text-align: center;
    font-size: 18px;
}
.logo img{
    width: 100%;
}
.social{
    background-color: #b9acac;
    border-radius: 60px;
    font-size: 30px;
    color: rgb(218, 125, 125);
}
/* footer end */

@media only screen and (max-width:688px) {
    .Top-banner{
        flex-direction: column;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
}









